.container {
  background-color: #111430;
  /* height: 100vh; */
  padding: 100px 20px;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.396px;
  color: #ffffff;
  margin-bottom: 80px;
  margin: 0 10px;
}

.header > span {
  color: #7ab259;
}
/* .slides {
  color: white;
} */

.image {
  width: 100%;
  height: 350px;
  padding: 0 50px;
  /* padding-right: 90px; */
}

.slide:focus {
  outline: none;
}

@media (max-width: 768px) {
  .image {
    padding: 0;
  }
  .container {
    padding: 100px 0;
  }
}
