@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  background-color: #fbd062;
  padding: 10px 50px;
  box-shadow: none;
}

.logo {
  margin-top: 10px;
}
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
}
.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: #111430;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #111430;
}
.link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.linkContainer {
  /* display: flex; */
  align-items: center;
}
@media (max-width: 900px) {
  .button {
    margin: 0;
  }
}
