@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  display: flex;
  justify-content: center;
}
.heading {
  font-family: "Montserrat";
}

.icon {
  height: 40px;
  width: 40px;
}
.btn {
  background-color: black;
  color: white;
  font-family: "Montserrat";
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
}
