.menuBar {
  background-color: transparent;
  box-shadow: none;
  margin-top: 80px;
  color: black;
  display: none;
}

/* .boxContainer {
  margin-top: 20px;
} */

.sideNav > div {
  background-color: transparent;
  margin-top: 90px;
  border: none;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: none;
}

.boxContent {
  background-color: #f4f7fc;
}

.addCourse {
  font-size: 27px;
  text-align: center;
}

.formContainer {
  display: flex;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
}

.leftColumn {
  width: 50%;
}

.leftColumn > label {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.leftColumn > input {
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: #ffffff;
  border: 0.666667px solid #c9c9c9;
  border-radius: 3.33333px;
  font-family: "Poppins";
  padding: 10px;
  width: 80%;
  font-size: 15px;
  color: black;
}

.leftColumn > textarea {
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: #ffffff;
  font-family: "Poppins";
  border: 0.666667px solid #c9c9c9;
  border-radius: 3.33333px;
  padding: 10px;
  width: 80%;
  font-size: 15px;
  color: black;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  margin-right: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #009444;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.addField {
  margin-left: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #009444;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
}

.textArea {
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: #ffffff;
  font-family: "Poppins";
  border: 0.666667px solid #c9c9c9;
  border-radius: 3.33333px;
  padding: 10px;
  width: 80%;
  font-size: 15px;
  color: black;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@media (max-width: 600px) {
  .menuBar {
    background-color: pink;
    display: block;
  }
  .logo {
    display: block;
  }
  .boxContainer {
    margin-top: 80px;
  }
  .formContainer {
    display: block;
    margin: 0px;
  }
  .leftColumn {
    width: 100%;
  }
  .leftColumn > input {
    width: 100%;
  }
  .leftColumn > textarea {
    width: 100%;
  }
  .details {
    width: 100%;
  }
}
