.container {
  background-color: #fbd062;
  text-align: center;
}
.container > p {
  margin: 0;
  padding-bottom: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
}
